# Note: this is not the analysis notebook.

### Goal: Exporting sample data for *Part 1: Reading and Writing Files in Python*



Mark Bauer

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import geopandas as gpd
from openpyxl import Workbook
import zipfile
from zipfile import ZipFile
from os.path import basename

Printing verions of Python modules and packages with **watermark** - the IPython magic extension.

Documention for installing watermark: https://github.com/rasbt/watermark

In [2]:
%load_ext watermark

%watermark -v -p numpy,pandas,geopandas,matplotlib.pyplot,json,requests,sodapy

Python implementation: CPython
Python version       : 3.8.13
IPython version      : 8.4.0

numpy            : 1.22.4
pandas           : 1.4.2
geopandas        : 0.9.0
matplotlib.pyplot: unknown
json             : 2.0.9
requests         : 2.28.1
sodapy           : 2.2.0

In [3]:
# reading in data as a url from NYC Open Data
url = 'https://data.cityofnewyork.us/api/views/qb5r-6dgf/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url)

df.head()

,the_geom,NAME,BIN,CNSTRCT_YR,LSTMODDATE,LSTSTATYPE,DOITT_ID,HEIGHTROOF,FEAT_CODE,GROUNDELEV,SHAPE_AREA,SHAPE_LEN,BASE_BBL,MPLUTO_BBL,GEOMSOURCE,GLOBALID
0,MULTIPOLYGON (((-73.96664570466969 40.62599676...,NaN,3170958,1925.0,08/22/2017 12:00:00 AM,Constructed,96807,29.749853,2100.0,40.0,0,0,3065220021,3065220021,Photogramm,{31298F86-3088-4F53-B3DB-71A9EFA6FA1F}
1,MULTIPOLYGON (((-74.16790202462265 40.63936048...,NaN,5028452,1965.0,08/22/2017 12:00:00 AM,Constructed,326368,22.630000,2100.0,39.0,0,0,5012640036,5012640036,Photogramm,{F5F8CDA5-69E2-46F8-8F69-BA95C025B520}
2,MULTIPOLYGON (((-74.19510813278613 40.55610681...,NaN,5078368,1970.0,08/22/2017 12:00:00 AM,Constructed,746627,35.760000,2100.0,51.0,0,0,5060190091,5060190091,Photogramm,{9F644794-F72C-4582-9E5E-B337E2B97068}
3,MULTIPOLYGON (((-73.96113466505085 40.57743931...,NaN,3245111,1928.0,08/22/2017 12:00:00 AM,Constructed,786626,37.500000,2100.0,6.0,0,0,3086910048,3086910048,Photogramm,{F916B22D-E25B-44AE-9FA9-2A51191B9CDF}
4,MULTIPOLYGON (((-73.75421559146166 40.75591276...,NaN,4161096,1950.0,08/22/2017 12:00:00 AM,Constructed,746409,18.015113,2100.0,93.0,0,0,4075020005,4075020005,Photogramm,{525F2C24-616B-4F29-98A3-8FEA5D4B1A7D}

In [4]:
rows, columns = df.shape
print('This dataset has {:,} rows and {:,} columns.'.format(rows, columns))

This dataset has 1,084,210 rows and 16 columns.

### For simplicity, we're only exporting buildings built from 2010 to 2020

This pertains to both the building footprints and the PLUTO datasets.

In [5]:
# saving only buildings built between 2010 and 2020 as a new dataframe
df_sample = (
    df
    .loc[df['CNSTRCT_YR'].between(2010, 2020)]
    .reset_index(drop=True)
)

# previewing first five rows of sample data
df_sample.head()

,the_geom,NAME,BIN,CNSTRCT_YR,LSTMODDATE,LSTSTATYPE,DOITT_ID,HEIGHTROOF,FEAT_CODE,GROUNDELEV,SHAPE_AREA,SHAPE_LEN,BASE_BBL,MPLUTO_BBL,GEOMSOURCE,GLOBALID
0,MULTIPOLYGON (((-73.87172426474349 40.65519420...,NaN,3394834,2011.0,08/22/2017 12:00:00 AM,Constructed,1250314,26.000000,2100.0,15.0,0,0,3044520924,3044520924,Other (Man,{C045C815-79DB-4644-AD9D-C34AC03D1AB4}
1,MULTIPOLYGON (((-73.86650099829305 40.74236058...,NaN,4540159,2010.0,08/22/2017 12:00:00 AM,Constructed,201366,28.000000,2100.0,37.0,0,0,4018780115,4018780115,Other (Man,{FDF673E7-FF92-4A7A-AF6D-C49D77343C47}
2,MULTIPOLYGON (((-73.87805078807256 40.71475698...,NaN,4540051,2010.0,08/22/2017 12:00:00 AM,Constructed,1171655,28.330225,2100.0,112.0,0,0,4030600139,4030600139,Photogramm,{788E5D72-46C1-443F-8BC9-6B97F329BFED}
3,MULTIPOLYGON (((-73.81520745135124 40.73053646...,NaN,4545453,2012.0,08/22/2017 12:00:00 AM,Constructed,1118502,16.640000,2100.0,74.0,0,0,4066560052,4066560052,Photogramm,{789A5A51-5B12-46DC-AE85-B06820A3225E}
4,MULTIPOLYGON (((-73.84769179857282 40.87911947...,NaN,2118998,2012.0,08/22/2017 12:00:00 AM,Constructed,1254551,33.000000,2100.0,154.0,0,0,2047220003,2047220003,Other (Man,{BB58FD7B-CC22-4896-901D-F8BAFF4AC129}

In [6]:
rows, columns = df_sample.shape
print('This dataset has {:,} rows and {:,} columns.'.format(rows, columns))

This dataset has 15,714 rows and 16 columns.

In [7]:
# value counts and sanity checks
df_sample['CNSTRCT_YR'].value_counts()

2018.0    2165
2017.0    1929
2016.0    1816
2020.0    1489
2011.0    1488
2012.0    1452
2010.0    1370
2019.0    1160
2015.0    1083
2013.0     906
2014.0     856
Name: CNSTRCT_YR, dtype: int64

In [8]:
# value counts and sanity checks
df_sample['CNSTRCT_YR'].value_counts().sort_index()

2010.0    1370
2011.0    1488
2012.0    1452
2013.0     906
2014.0     856
2015.0    1083
2016.0    1816
2017.0    1929
2018.0    2165
2019.0    1160
2020.0    1489
Name: CNSTRCT_YR, dtype: int64

In [9]:
# list items in data folder
%ls ../data/

README.md                output.dbf               sample-data.geojson
building-footprints.csv  output.json              sample-data.gpkg
nta_shape.cpg            output.prj               sample-data.json
nta_shape.dbf            output.shp               sample-data.prj
nta_shape.geojson        output.shx               sample-data.shp
nta_shape.prj            output.xlsx              sample-data.shx
nta_shape.shp            sample-buildings.zip     sample-data.xlsx
nta_shape.shx            sample-data.cpg          unzipped-data/
output.cpg               sample-data.csv
output.csv               sample-data.dbf

In [10]:
# writing files as a csv
df_sample.to_csv('../data/sample-data.csv', index=False)

# listing items in data folder
%ls ../data/

README.md                output.dbf               sample-data.geojson
building-footprints.csv  output.json              sample-data.gpkg
nta_shape.cpg            output.prj               sample-data.json
nta_shape.dbf            output.shp               sample-data.prj
nta_shape.geojson        output.shx               sample-data.shp
nta_shape.prj            output.xlsx              sample-data.shx
nta_shape.shp            sample-buildings.zip     sample-data.xlsx
nta_shape.shx            sample-data.cpg          unzipped-data/
output.cpg               sample-data.csv
output.csv               sample-data.dbf

In [11]:
# writing files as an excel file
df_sample.to_excel('../data/sample-data.xlsx', index=False)

# listing items in data folder
%ls ../data/

README.md                output.dbf               sample-data.geojson
building-footprints.csv  output.json              sample-data.gpkg
nta_shape.cpg            output.prj               sample-data.json
nta_shape.dbf            output.shp               sample-data.prj
nta_shape.geojson        output.shx               sample-data.shp
nta_shape.prj            output.xlsx              sample-data.shx
nta_shape.shp            sample-buildings.zip     sample-data.xlsx
nta_shape.shx            sample-data.cpg          unzipped-data/
output.cpg               sample-data.csv
output.csv               sample-data.dbf

In [12]:
# writing files as json
df_sample.to_json('../data/sample-data.json')

# listing items in data folder
%ls ../data/

README.md                output.dbf               sample-data.geojson
building-footprints.csv  output.json              sample-data.gpkg
nta_shape.cpg            output.prj               sample-data.json
nta_shape.dbf            output.shp               sample-data.prj
nta_shape.geojson        output.shx               sample-data.shp
nta_shape.prj            output.xlsx              sample-data.shx
nta_shape.shp            sample-buildings.zip     sample-data.xlsx
nta_shape.shx            sample-data.cpg          unzipped-data/
output.cpg               sample-data.csv
output.csv               sample-data.dbf

In [13]:
# reading in data as a geodataframe
url = 'https://data.cityofnewyork.us/api/geospatial/nqwf-w8eh?method=export&format=Shapefile'
gdf = gpd.read_file(url)

# printing the first five rows
gdf.head()

,base_bbl,bin,cnstrct_yr,doitt_id,feat_code,geomsource,globalid,groundelev,heightroof,date_lstmo,time_lstmo,lststatype,mpluto_bbl,name,shape_area,shape_len,geometry
0,3065220021,3170958.0,1925.0,96807.0,2100.0,Photogramm,{31298F86-3088-4F53-B3DB-71A9EFA6FA1F},40.0,29.749853,2017-08-22,00:00:00.000,Constructed,3065220021,None,0.0,0.0,"POLYGON ((-73.96665 40.62600, -73.96685 40.625..."
1,5012640036,5028452.0,1965.0,326368.0,2100.0,Photogramm,{F5F8CDA5-69E2-46F8-8F69-BA95C025B520},39.0,22.630000,2017-08-22,00:00:00.000,Constructed,5012640036,None,0.0,0.0,"POLYGON ((-74.16790 40.63936, -74.16790 40.639..."
2,5060190091,5078368.0,1970.0,746627.0,2100.0,Photogramm,{9F644794-F72C-4582-9E5E-B337E2B97068},51.0,35.760000,2017-08-22,00:00:00.000,Constructed,5060190091,None,0.0,0.0,"POLYGON ((-74.19511 40.55611, -74.19520 40.556..."
3,3086910048,3245111.0,1928.0,786626.0,2100.0,Photogramm,{F916B22D-E25B-44AE-9FA9-2A51191B9CDF},6.0,37.500000,2017-08-22,00:00:00.000,Constructed,3086910048,None,0.0,0.0,"POLYGON ((-73.96113 40.57744, -73.96115 40.577..."
4,4075020005,4161096.0,1950.0,746409.0,2100.0,Photogramm,{525F2C24-616B-4F29-98A3-8FEA5D4B1A7D},93.0,18.015113,2017-08-22,00:00:00.000,Constructed,4075020005,None,0.0,0.0,"POLYGON ((-73.75422 40.75591, -73.75417 40.755..."

In [14]:
rows, columns = gdf.shape
print('This dataset has {:,} rows and {:,} columns.'.format(rows, columns))

This dataset has 1,084,210 rows and 17 columns.

In [15]:
# saving only buildings built between 2010 and 2020 as a new dataframe
gdf_sample = (
    gdf
    .loc[gdf['cnstrct_yr'].between(2010, 2020)]
    .reset_index(drop=True)
    
)

# previewing first five rows of sample data
gdf_sample.head()

,base_bbl,bin,cnstrct_yr,doitt_id,feat_code,geomsource,globalid,groundelev,heightroof,date_lstmo,time_lstmo,lststatype,mpluto_bbl,name,shape_area,shape_len,geometry
0,3044520924,3394834.0,2011.0,1250314.0,2100.0,Other (Man,{C045C815-79DB-4644-AD9D-C34AC03D1AB4},15.0,26.000000,2017-08-22,00:00:00.000,Constructed,3044520924,None,0.0,0.0,"POLYGON ((-73.87172 40.65519, -73.87179 40.655..."
1,4018780115,4540159.0,2010.0,201366.0,2100.0,Other (Man,{FDF673E7-FF92-4A7A-AF6D-C49D77343C47},37.0,28.000000,2017-08-22,00:00:00.000,Constructed,4018780115,None,0.0,0.0,"POLYGON ((-73.86650 40.74236, -73.86645 40.742..."
2,4030600139,4540051.0,2010.0,1171655.0,2100.0,Photogramm,{788E5D72-46C1-443F-8BC9-6B97F329BFED},112.0,28.330225,2017-08-22,00:00:00.000,Constructed,4030600139,None,0.0,0.0,"POLYGON ((-73.87805 40.71476, -73.87787 40.714..."
3,4066560052,4545453.0,2012.0,1118502.0,2100.0,Photogramm,{789A5A51-5B12-46DC-AE85-B06820A3225E},74.0,16.640000,2017-08-22,00:00:00.000,Constructed,4066560052,None,0.0,0.0,"POLYGON ((-73.81521 40.73054, -73.81546 40.730..."
4,2047220003,2118998.0,2012.0,1254551.0,2100.0,Other (Man,{BB58FD7B-CC22-4896-901D-F8BAFF4AC129},154.0,33.000000,2017-08-22,00:00:00.000,Constructed,2047220003,None,0.0,0.0,"POLYGON ((-73.84769 40.87912, -73.84784 40.879..."

In [16]:
# writing out spatial data
gdf_sample.to_file('../data/sample-data.shp', index=False)
gdf_sample.to_file('../data/sample-data.geojson', driver='GeoJSON', index=False)
gdf_sample.to_file('../data/sample-data.gpkg', layer='buildings', driver='GPKG', index=False)

# listing items in data folder
%ls ../data/

README.md                output.dbf               sample-data.geojson
building-footprints.csv  output.json              sample-data.gpkg
nta_shape.cpg            output.prj               sample-data.json
nta_shape.dbf            output.shp               sample-data.prj
nta_shape.geojson        output.shx               sample-data.shp
nta_shape.prj            output.xlsx              sample-data.shx
nta_shape.shp            sample-buildings.zip     sample-data.xlsx
nta_shape.shx            sample-data.cpg          unzipped-data/
output.cpg               sample-data.csv
output.csv               sample-data.dbf

### Creating a zip file with our sample data

In [17]:
file_path = '../data/sample-buildings.zip'

# create a zipfile
with zipfile.ZipFile(file_path, 'w') as file:
        # write mode overrides all the existing files in the 'Zip.'
        # you have to create the file which you have to write to the 'Zip.'
        file.write('../data/sample-data.csv', basename('../data/sample-data.csv'))

In [18]:
# seeing if a file is a zipfile
print(zipfile.is_zipfile(file_path))

True

In [19]:
# list items in this file path
%ls ../data/

README.md                output.dbf               sample-data.geojson
building-footprints.csv  output.json              sample-data.gpkg
nta_shape.cpg            output.prj               sample-data.json
nta_shape.dbf            output.shp               sample-data.prj
nta_shape.geojson        output.shx               sample-data.shp
nta_shape.prj            output.xlsx              sample-data.shx
nta_shape.shp            sample-buildings.zip     sample-data.xlsx
nta_shape.shx            sample-data.cpg          unzipped-data/
output.cpg               sample-data.csv
output.csv               sample-data.dbf

In [20]:
# save items in our zipfile
items = zipfile.ZipFile(file_path)

# available files in the container
print(items.namelist())

['sample-data.csv']